@font-face {
  font-family: "Manrope";
  src: url("./assets/Manrope-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope";
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(230, 100%, 99%);
}

.bg-pattern {
  width: 100vw;
}

.container {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container-p1 {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 50px;
  gap: 5px;
}

.container-p1 div {
  z-index: 2;
}

h1 {
  font-size: 28px;
  color: hsl(227, 35%, 25%);
  font-weight: 800;
}

.container-p1 p {
  font-size: 15px;
  color: hsl(225, 20%, 60%);
  margin-top: 8px;
  font-weight: 600;
}

.container-p2 {
  display: flex;
  flex-direction: column;
  padding: 40px 0px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px 5px hsl(224, 65%, 95%);
}

.part1 {
  margin-bottom: 40px;
}

#slider {
  width: 80%;
  margin: 20px 0px 40px 0px;
}

#discount {
  background-color: hsl(14, 92%, 95%);
  color: hsl(15, 100%, 70%);
  padding: 2px 5px;
  border-radius: 12px;
}

#pattern-circles {
  height: 145px;
  position: absolute;
  left: 175px;
  top: 10px;
}

.pricing-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  margin-bottom: 10px;
}

.trial-details {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  margin-top: 20px;
}

.trial-details span {
  margin-left: 5px;
  font-size: 13px;
  font-weight: 600;
  color: hsl(225, 20%, 60%);
}

.benefits {
  margin-bottom: 5px;
}

.trial-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-div {
  display: flex;
  justify-content: center;
}

.billing-container {
  display: flex;
  justify-content: center;
}

.trial-btn {
  border: none;
  background-color: hsl(227, 35%, 25%);
  color: hsl(226, 100%, 87%);
  padding: 10px 40px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
}

.pageview-info {
  font-size: 15px;
  font-weight: 800;
  letter-spacing: 1.5px;
  color: hsl(225, 20%, 60%);
}

.amount-info {
  font-size: 15px;
  font-weight: 600;
  color: hsl(225, 20%, 60%);
}
