* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-pattern {
  z-index: -2;
}

.container {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container-p1 {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 50px;
  gap: 5px;
}

.container-p2 {
  display: flex;
  flex-direction: column;
  padding: 40px 0px;
  border: 1px solid black;
  background-color: hsl (0, 0%, 100%);
}

#slider {
  width: 80%;
  margin-bottom: 10px;
}

#discount {
  background-color: hsl(14, 92%, 95%);
  color: hsl(15, 100%, 70%);
  padding: 2px 5px;
  border-radius: 12px;
}

#pattern-circles {
  height: 130px;
  position: absolute;
  left: 180px;
  top: 4px;
  z-index: -1;
}

.pricing-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  margin-bottom: 10px;
}

.trial-details {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  margin-top: 15px;
}

.trial-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-div {
  display: flex;
  justify-content: center;
}

.billing-container {
  display: flex;
  justify-content: center;
}
